@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #1b5773;
  --midnight: #0d2c3a;
  --light-overlay: #f1f5ecd9;
  --off-white: #ecf0f0;
  --white-semi: #ffffff80;
  --deep-teal: #133d51;
  --brand-red: #b10239;
  --brand-pink: #be2d5b;
  --dark-gray: #262931;
  --slate-gray: #474e5d;
  --soft-blue: #e8eef1;
  --charcoal: #2e2f30;
  --almost-white: #f9fafa;
  --dark-navy: #111c1c;
  --light-gray: #c0c4cd;
  --extra-light: #f9fafb;
  --rose-light: #f7e6eb;
  --medium-blue: #42748b;
  --cool-light: #f0f1f3;
  --cool-gray: #667085;
  --lighter-gray: #f6f7f8;
  --tone-gray: #d8dade;
  --soft-cloud: #f5f8f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-blue: #1b5773;
    --midnight: #0d2c3a;
    --light-overlay: #f1f5ecd9;
    --off-white: #ecf0f0;
    --white-semi: #ffffff80;
    --brand-red: #b10239;
    --brand-pink: #be2d5b;
    --dark-gray: #262931;
    --slate-gray: #474e5d;
    --soft-blue: #e8eef1;
    --charcoal: #2e2f30;
    --almost-white: #f9fafa;
    --dark-navy: #111c1c;
    --light-gray: #c0c4cd;
    --medium-blue: #42748b;
    --cool-light: #f0f1f3;
    --cool-gray: #667085;
    --lighter-gray: #f6f7f8;
    --tone-gray: #d8dade;
    --soft-cloud: #f5f8f9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-scroll 40s linear infinite;
}

.marquee:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
